body {
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
}

.flag-text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.saffron {
    color: #FF9933;
}

.white {
    color: #FFFFFF;
    text-shadow: 0px 0px 2px #000;
}

.green {
    color: #138808;
}

.btn {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    background-color: #000080; /* Navy Blue like Ashoka Chakra */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}
